/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3.scss";

/******
* STYLES
***/

html, body {
  height: 100%;
  font-family: sans-serif;
}

.audio-controls {
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  padding: .25em;

  .toggle-audio {
    width: auto;
    height: 2.5em;
    position: relative;
  }

  .track-number {
    font-size: 2em;
    position: relative;
    top: -.25em;
  }
}

.nav {
  position: fixed;
  z-index: 10;
  left: 0%;
  bottom: 0%;
  padding: 1em;
  display: block;
  width: 100%;

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    outline: 3px solid red;
    background-color: red;
  }

  a:hover {
    background-color: rgba(255,255,255,0);
  }

  .switch-cover, .toggle-cover {
    float: right;
    margin-right: 2em;
  }
}

.cover-nav {

  .toggle-inside {
  }
}
.inside-nav {
  display: none;
}

#container {
  position: absolute;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;

}

.album-covers, .inside-pages {
  width: 100%;
  height: 100%;
  background: {
    size: cover;
    position: center center;
    repeat: none;
  }
}

.front-cover {
  position: absolute;
  z-index: 1;

  .svg-title {
    margin-top: 32%;
    margin-left: 37%;
    width: 27%;
    height: auto;
  }

  .title {
    display: none;
    font-size: 5em;
    position: relative;
    top: 5em;
    left: 5em;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.back-cover {
  position: absolute;
  z-index: 1;
  display: none;
}

.inside-pages {
 display: none;
}
.page-1 {
  display: block;
}
.page-2,.page-3, .page-4, .page-5, .page-6, .page-7 {
  display: none;
}

.page.inside {
  width: 100%;
  height: 100%;
  position: absolute;
}

.inside-pages {
  width: 100%;
  height: 100%;
  position: absolute;
}

.content-container {
  width: 100%;
  height: 100%;
//  @include flex-wrap(nowrap);
//  @include display-flex(flex);
//  @include justify-content(center);
//  @include align-items(center);
//  @include align-content(center);
}


.content{
  color: white;
  font-size: 1.2em;
}

.song-title {
  font-size: 3em;
  font-family: "Rockwell Std", serif;

}

.song-information {
 // padding: 1em;

}
.attributions {
  //padding: 1em;
  dl {

  }
  dt {
    width: 9em;
    float: left;
    clear:left;
    display: inline-block;
  }
  dd {
    display: inline-block;
    float: left;
    clear:right;
  }
}

.lyrics {
  //padding: 1em;
  p {
    margin-bottom: 1em;
  }
  p:last-of-type {
    margin-bottom: 0em;
  }
}

.page-1 { //BRUTALITY FOREVER
  .song-title {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  .attributions {
    position: absolute;
    top: 20%;
    right: 10%;
  }
  .lyrics {
    position: absolute;
    top: 20%;
    left: 10%;
  }
}

.page-2 { //SKIRT
  .song-title {
    color: black;
    position: absolute;
    top: 20%;
    right: 25%;
  }
  .attributions {
    color:black;
    position: absolute;
    top: 35%;
    left: 30%;
  }
  .lyrics {
    color: black;
    position: absolute;
    bottom: 25%;
    right: 15%;
  }
}

.page-3 { //MBST
  .song-title {
    color: black;
    position: absolute;
    top: 35%;
    left: 42%;
  }
  .attributions {
    color: black;
    position: absolute;
    bottom: 35%;
    left: 5%;
  }
  .lyrics {
    color: black;
    position: absolute;
    top: 30%;
    right: 25%;
  }
}

.page-4 { //THERE'S NO REASON TO BE ALONE (WOO YEAH)
  .song-title {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .attributions {
    position: absolute;
    bottom: 15%;
    left: 5%;
  }
  .lyrics {
    text-align: right;
    position: absolute;
    bottom: 18%;
    right: 5%;
  }
}

.page-5 { //ANNOUNCEMENT
  .song-title {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  .attributions {
    position: absolute;
    bottom: 10%;
    left: 40%;
  }
  .lyrics {
    position: absolute;
    top: 20%;
    right: 5%;
  }
}

.page-6 { //17 YEARS
  .song-title {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .attributions {
    position: absolute;
    top: 20%;
    right: 10%;
  }
  .lyrics {
    position: absolute;
    bottom: 15%;
    left: 10%;
  }
}

.page-7 { //IF WE LIVE, WE LIVE TO TREAD ON KINGS
  .song-title {
    position: absolute;
    top: 35%;
    left: 5%;
  }
  .attributions {
    position: absolute;
    top: 60%;
    left: 5%;
  }
  .lyrics {
    text-align: right;
    position: absolute;
    top: 10%;
    right: 5%;
  }
}
