/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3.scss";

@mixin media-query($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

/******
* STYLES
***/

html, body {
  height: 100%;
  font-family: "Didact Gothic", sans-serif;
  text-transform: lowercase;
  color: white;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: .04em;
  text-shadow: 1px 1px 0px black;
  background-color: black;
}

.audio-controls {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  padding: .5em .5em 0em .5em;
  background-color: black;

  .toggle-play {
    width: auto;
    height: 2em;
  }
  .next-track,
  .previous-track {
    width: auto;
    height: 1.5em;
    position: relative;
    top: -.25em;
    padding-left: .5em;
  }

  .track-title {
    font-size: 1.5em;
    padding-left: .25em;
    position: relative;
    //line-height: 1.25;
    top: -.35em;
  }
  
  p {
    margin: 0em;
    a {     color: white;}
  }
}

.nav {
  position: fixed;
  z-index: 10;
  left: 0%;
  bottom: 0%;
  padding: 1em;
  display: block;
  width: 100%;

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    outline: 3px solid red;
    background-color: red;
  }

  a:hover {
    background-color: rgba(255,255,255,0);
  }

  .switch-cover, .toggle-cover {
    float: right;
    margin-right: 2em;
  }
}

.cover-nav {

  .toggle-inside {
  }
}
.inside-nav {
  display: none;
}

#container {
  position: absolute;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;

}

.album-covers, .inside-pages {
  width: 100%;
  height: 100%;
  background: {
    size: cover;
    position: center center;
    repeat: none;
  }
}

.front-cover {
  position: absolute;
  z-index: 1;

  .svg-title {
    margin-top: 32%;
    margin-left: 37%;
    width: 27%;
    height: auto;
  }

  .title {
    display: none;
    font-size: 5em;
    position: relative;
    top: 5em;
    left: 5em;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.back-cover {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  
  margin-top: 5em;
  
  h2 {
    font-size: 4em;
    text-align: center;
  }
}

.inside-pages {
 display: none;
}
.page-1 {
  display: block;
}
.page-2,.page-3, .page-4, .page-5, .page-6, .page-7 {
  display: none;
}

.page.inside {
  width: 100%;
  height: 100%;
  position: absolute;
}

.inside-pages {
  width: 100%;
  height: 100%;
  position: absolute;
}

.content-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  margin: 4em -2em 1em 0em;
  //padding-left: 1em;
}


.content{
  color: white;
  font-size: 1.2em;
  padding-left: 1em;
  
}

.song-title {
  font-size: 3em;
  font-family: "Anton", serif;
  text-transform: uppercase;
  font-weight: 400;
}

.song-information {
  //font-family: "Didact Gothic", sans-serif;
  //text-transform: lowercase !important;

}
.attributions {
  font-family: "Didact Gothic", sans-serif;
  text-transform: lowercase !important;
  //padding: 1em;


  dl {
  display: block;
    margin-bottom: 2em;
  }
  dt {
    width: 9em;
    float: left;
    clear:left;
    display: inline-block;
  }
  dd {
    display: inline-block;
    float: left;
    clear:right;
  }
}

.lyrics {
  display: block;
  padding: 2em 0em 10em 0em;
  clear: left;
  p {
    margin-bottom: 1em;
  }
  p:last-of-type {
    margin-bottom: 0em;
  }
}

@include media-query(800px) {



  .toggle-play {
    width: auto;
    height: 3em;
  }
  .next-track,
  .previous-track {
    width: auto;
    height: 2.25em;
    position: relative;
    top: -.25em;
    padding-left: .5em;
  }
  .track-title {
    font-size: 2em;
    padding-left: .25em;
    position: relative;
    //line-height: 1.25;
    top: -.35em;
  }
  
  .content-container {
    margin: 0em;
    overflow-x: inherit;
  }
  
  .attributions {
    margin-bottom: 0em;
  }
  
  .lyrics {
    display: inline-block;
    padding: 0em;
    clear: initial;
  }

  .page-1 { //BRUTALITY FOREVER
    .song-title {
      position: absolute;
      top: 10%;
      left: 10%;
    }
    .attributions {
      position: absolute;
      top: 20%;
      right: 10%;
    }
    .lyrics {
      position: absolute;
      top: 20%;
      left: 10%;
    }
  }

  .page-2 { //SKIRT
    text-shadow: none;
    .song-title {
      color: black;
      position: absolute;
      top: 20%;
      right: 25%;
    }
    .attributions {
      color:black;
      position: absolute;
      top: 35%;
      left: 30%;
    }
    .lyrics {
      color: black;
      position: absolute;
      bottom: 25%;
      right: 15%;
    }
  }

  .page-3 { //MBST
    text-shadow: none;
    .song-title {
      color: black;
      position: absolute;
      top: 35%;
      left: 42%;
    }
    .attributions {
      color: black;
      position: absolute;
      bottom: 35%;
      left: 5%;
    }
    .lyrics {
      color: black;
      position: absolute;
      top: 30%;
      right: 25%;
    }
  }

  .page-4 { //THERE'S NO REASON TO BE ALONE (WOO YEAH)
    .song-title {
      text-align: center;
      position: absolute;
      top: 10%;
      left: 5%;
    }
    .attributions {
      position: absolute;
      bottom: 15%;
      left: 5%;
    }
    .lyrics {
      text-align: right;
      position: absolute;
      top: 3em;
      right: 5%;
    }
  }

  .page-5 { //ANNOUNCEMENT
    .song-title {
      position: absolute;
      top: 10%;
      left: 10%;
    }
    .attributions {
      position: absolute;
      bottom: 10%;
      left: 40%;
    }
    .lyrics {
      position: absolute;
      top: 20%;
      right: 5%;
    }
  }

  .page-6 { //17 YEARS
    .song-title {
      position: absolute;
      top: 20%;
      left: 10%;
    }
    .attributions {
      position: absolute;
      top: 20%;
      right: 10%;
    }
    .lyrics {
      position: absolute;
      bottom: 15%;
      left: 10%;
    }
  }

  .page-7 { //IF WE LIVE, WE LIVE TO TREAD ON KINGS
    .song-title {
      position: absolute;
      top: 35%;
      left: 5%;
    }
    .attributions {
      position: absolute;
      top: 60%;
      left: 5%;
    }
    .lyrics {
      text-align: right;
      position: absolute;
      top: 3em;
      right: 10%;
    }
  }
}
